@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'partials/layout.css';
@import 'partials/typography.css';
@import 'partials/forms.css';
@import 'partials/elements.css';
@import 'partials/swiper.css';
@import 'custom.css';

.acf-layout {
  @apply font-sans;
  p {
    @apply text-base;
  }
}

.wp-picker-container .iris-picker {
  padding-bottom: 80px !important;
}
.iris-border .iris-palette-container {
  position: absolute;
  bottom: 10px !important;
  left: 10px !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.iris-picker .iris-palette {
  width: 24px !important;
  height: 24px !important;
  margin-left: 0px !important;
  float: none;
}

#wp-link {
  label {
    input[type='text'] {
      @apply inline-block min-w-min;
    }
  }
}
.frm_insert_form svg {
  @apply inline-block;
}
